
<div class="masthead">
    <img src="~/assets/img/aboutus.jpg" style="width:100%;height:725px;" alt="Img" class=img-fluid rounded>
</div>

<main class="mb-4">
    <div class="container px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="my-5">
                    The Sports Blog is a sports website for followers of all sports and games to read and watch interesting stuff. We are aiming to be the biggest publisher of evergreen sports content on the web.
                    We promise not to ask the same questions as everyone else, and we also promise to try and cover every sport out there. We are primarily a site for sports content that will age well and is not news-focused, we leave that to the big boys and girls.
                    We concentrate on interesting, high-quality sports content that answers questions and stimulates debate and discussion. Thanks for stopping by.
                </div>
            </div>
        </div>
    </div>
</main> 